<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Website!</title>
  </head>
  <body>
      <h1>More Skyrim</h1>

      <p>
          The Elder Scrolls V: Skyrim, the 2011 Game of the Year, is the next chapter in the highly anticipated Elder Scrolls saga. Developed by Bethesda Game Studios, the 2011 Studio of the Year, that brought you Oblivion and Fallout 3. Skyrim reimagines and revolutionizes the open-world fantasy epic, bringing to life a complete virtual world open for you to explore any way you choose.
      </p>
      <p>
          The Vampire Lord Harkon has returned to power. By using the Elder Scrolls, he seeks to do the unthinkable - to end the sun itself. Will you join the ancient order of the Dawnguard and stop him? Or will you become a Vampire Lord? In Dawnguard, the ultimate choice will be yours.
      </p>
      <p>
          With this official add-on for The Elder Scrolls V: Skyrim, journey off the coast of Morrowind, to the island of Solstheim. Encounter new towns, dungeons, and quests, as you traverse the ash wastes and glacial valleys of this new land. Become more powerful with shouts that bend the will of your enemies and even tame dragons. Your fate, and the fate of Solstheim, hangs in the balance as you face off against your deadliest adversary – the first Dragonborn.
      </p>

      <a href="{{ url_for('index') }}">Go back</a>
      <!-- url_for is a Jinja function -->
      <!-- go back to the url of the index function in the app.py file-->
  </body>
</html>
