{% extends "layout.html" %}

{% block heading %}
    First page
{% endblock %}

{% block body %}
    <p>
        The Elder Scrolls V: Skyrim, the 2011 Game of the Year, is the next chapter in the highly anticipated Elder Scrolls saga. Developed by Bethesda Game Studios, the 2011 Studio of the Year, that brought you Oblivion and Fallout 3. Skyrim reimagines and revolutionizes the open-world fantasy epic, bringing to life a complete virtual world open for you to explore any way you choose.
    </p>

    <a href="{{ url_for('more') }}">See more..</a>
{% endblock %}
